<div class="single-column-footer">
    第<span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span> のお客様、ようこそこちらへ<br>
    Hexoでいばって出している<br>
    <%# Please keep the section below and do not make modifications. %>
    テーマ <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a> 作者 <a href="https://mak1t0.cc/" target="_blank" rel="noreferrer noopener">Makito</a><br>
    <%# Please keep the section above and do not make modifications. %>
    &copy; 2013 - <%= new Date().getYear() + 1900 %> <a href="<%= config.url %>">J2kly.　♠</a>
</div>